.profile{
    padding: 40px 0px;
}

.profileSection{
    display: flex;
    justify-content: space-around;
}

.profileDegree{
    width: 40%;
}

.mr20{
    margin-bottom: 20px ;
}

.mr8{
    margin-bottom: 8px ;
}